.body{
    text-align: center;
    background-color: #fff;
    /* height: 100vh; */
}
.buttons{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.button{
    width: 400px;
    height: 40px;
    background: #50d3fb;
    color: #fff;
    text-align: center;
    outline: 0;
    border: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
}
.button:hover{
    background: #3d9bb7;
    color: #50d3fb;
}
.p{
    color: #8f8f8f;
}
.header{
    margin-top: 10%;
}
/* .FooterPosition{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
} */
/* .footers{
    position: absolute;
    text-align: center;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer{
    position: absolute;
    text-align: center;
    bottom: 0%;
} */
.footers {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
    background-color: #00a8dbc5;
    text-align: center;
    transform: translateY(0);
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    color: #8f8f8f;
    font-size: 14px;
}

@media (max-width: 600px) {
    .button {
        /* width: 90%; */
        width: 300%;
        font-size: 19px;
    }
}

.span{
    color: #50d3fb;
}